@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("Futura\ Light"),
    url("./assets/font/Futura\ Light.otf") format("truetype");
}
@font-face {
  font-family: "Condensed";   /*Can be any text*/
  src: local("FuturaLT-Condensed"),
    url("./assets/font/FuturaLT-Condensed.ttf") format("truetype");
}
@font-face {
  font-family: "Heavy";   /*Can be any text*/
  src: local("FuturaLT-Heavy"),
    url("./assets/font/FuturaLT-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "ExtraBold";   /*Can be any text*/
  src: local("FuturaLT-ExtraBold"),
    url("./assets/font/FuturaLT-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("FuturaLT-Light"),
    url("./assets/font/FuturaLT-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Oblique";   /*Can be any text*/
  src: local("FuturaLT-Oblique"),
    url("./assets/font/FuturaLT-Oblique.ttf") format("truetype");
}
@font-face {
  font-family: "FuturaLT";   /*Can be any text*/
  src: local("FuturaLT"),
    url("./assets/font/FuturaLT.ttf") format("truetype");
}


